body{
    margin: 0;
    padding: 0;
    font-family: verdana;
}

.grid-1{
    display: flex;
}

header {
    background-color: #F0F0F0;
    border-width: thin;
    border-bottom: solid black;
}

header ul{
    margin: 0;
    display: inline;
}

header li
{
    margin:0;
    list-style-type: none;
}

header li:hover{
    text-decoration: underline;
    background-color: cornflowerblue;
}

.reddit-pic{
    height: 75px;
}

.grid-3{
    display:flex;
    background-color: #CEE3F8;
}

nav{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: solid #5F99CF;
    border-width: thick;
    position: relative;
}


nav ul{
    margin:0;
    list-style-type: none;
}

nav > div > ul > li{
    justify-content: flex-start; 
    display: inline;
    font-weight: bold;
    font-size: 22px;
    font-family: verdana;
    background-color: #fbfbfb;
    margin-left: .1em;
    margin-right: .1em;
    padding-left: .3em;
    padding-right: .3em;

}

.user-profile{
    background-color: #fbfbfb;
    color: #5F99CF;
    border-top-left-radius: 5px;
    float:right;
    text-align:right;
    padding-right: .3em;
    margin-top: 30px;
}

.user-profile ul{
    display: flex;
    justify-content: flex-end;
}

.user-profile li{
    display: inline;
    list-style-type:none;
    font-size: 20 px;
    margin-left: .1em;
    margin-right: .1em;
    padding-left: .3em;
    padding-right: .3em;
}